@model IEnumerable<GCM.Entity.StudentFeeCollection>

@{
	ViewData["Title"] = "ViewStudentFeeCollection";
	var msg = TempData["SaveStatus"] as string;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/css/adminlte.min.css">
<link href="~/assets/dist/css/sweetalert.css" rel="stylesheet" />

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Student Term Wise Fee Collection List</h3>
						</div>
						<div class="card-body">
							<table id="InwardList" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Sr.</th>
										<th>Student</th>
										<th>Financial Year</th>
										<th>Term</th>
										<th>Reciept No</th>
										<th>Fee Mode</th>
										<th>Download Report</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
									{
										<tr>
											<td>@item.Index</td> @* Serial number instead of studentid *@
											<td>@item.Data.Name</td>
											<td>@item.Data.FinancialYear</td>
											<td>@item.Data.TermName</td>
											<td>@item.Data.RecieptNo</td>
											<td>@item.Data.FeeModeDescription</td>
											<td>
												<a asp-action="ExportStudentFeeCollectionReport" asp-controller="StudentFeeCollection"
												   asp-route-studentid="@item.Data.StudentId.ToString()">
													Download Report
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-center mt-3">
						<a href="@Url.Action("AddStudentFeeCollection", "StudentFeeCollection")" class="btn btn-secondary">
							<i class="fas fa-list mr-1"></i>
							Go to Form
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Make sure jQuery is loaded first -->
<script src="path/to/select2.min.js"></script>

<!-- AdminLTE JS -->
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/adminlte.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/assets/dist/js/sweetalert.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var msg = '@msg';
		if (msg != null && msg != '') {
			ShowDynamicSwalAlert("", msg);
		}
	});
</script>