@{

	var msg = TempData["SaveStatus"] as string;
	long studentid = 0;
	var varShow = 0;
	if (Model.studentid != 0)
	{
		studentid = Model.studentid;
		varShow = 1;
	}
	long finid = 0;
	if (Model.FinancialYearId > 0)
	{
		finid = Model.FinancialYearId;
	}
}
@model Inward.Entity.Student

<style>
	.green-radio {
	width: 20px;
	height: 20px;
	border: 2px solid green;
	background-color: green;
	}

	.green-radio:checked {
	background-color: darkgreen;
	border-color: darkgreen;
	}

	.green-radio:focus {
	outline: none;
	}

	/* Optional: Change text color for green radio */
	.green-radio + label {
	color: green;
	}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Main content -->
	@* <div class="content"> *@
	<div class="container-fluid">
		<div class="card-header">
			<h3 class="card-title">Add Student Information</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<!-- Inward No -->
				<div class="form-group">
					<label for="name">Academic Year</label>
					<select value="@finid" id="yearid" class="form-control" data-live-search="true" asp-items="@(new SelectList(ViewBag.YearList, "Value", "Text", finid))" onchange="bindacademicyear()" required>
						<option value="">---Select Academic Year---</option>
					</select>
					<span asp-validation-for="FinancialYearId" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div style="margin-top: 20px;"></div>
		<div>
			<input type="radio" name="formType" value="form1" id="form1" checked class="green-radio"> 1. Add by Form
			@if (varShow == 0)
			{
				<span>
					<input type="radio" name="formType" value="form2" id="form2" class="green-radio"> 2. Upload Excel
				</span>
			}
		</div>

	



		<div style="margin-top: 20px;"></div>
		<form  method="post" id="fillDetailsForm">
			<input type="hidden" asp-for="studentid" value="@studentid" />
			<input type="hidden" asp-for="FinancialYearId"  />
			
			<!-- Inward Information -->
			<div class="row mb-3">
				<div class="col-md-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Student Information</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<!-- Inward No -->
									<div class="form-group">
										<label for="name">Student Name</label>
										<input asp-for="name" type="text" class="form-control" placeholder="Enter Name">
										<span asp-validation-for="name" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Inward Date -->
									<div class="form-group">
										<label for="mobileno">Mobile No</label>
										<input asp-for="mobileno" type="text" class="form-control">
										<span asp-validation-for="mobileno" class="text-danger"></span>

									</div>
								</div>
								<div class="col-md-4">
									<!-- Inward Date -->
									<div class="form-group">
										<label for="email">Email</label>
										<input asp-for="email" type="email" class="form-control">
										<span asp-validation-for="email" class="text-danger"></span>

									</div>
								</div>
								<div class="col-md-4">
									<!-- Name of Farmer Dropdown -->
									<div class="form-group">
										<label for="genderid">Gender:</label>


										<select asp-for="genderid" class="form-control" data-live-search="true" asp-items="@(new SelectList(ViewBag.GenderList, "Value", "Text"))">
											<option value="">---Select Gender---</option>
										</select>
										<span asp-validation-for="genderid" class="text-danger"></span>

									</div>
								</div>
								<div class="col-md-4">
									<!-- Name of Farmer Dropdown -->
									<div class="form-group">
										<label for="categoryid">Category:</label>


										<select asp-for="categoryid" class="form-control" data-live-search="true" asp-items="@(new SelectList(ViewBag.CategoryList, "Value", "Text"))">
											<option value="">---Select Category---</option>
										</select>
										<span asp-validation-for="categoryid" class="text-danger"></span>

									</div>
								</div>
								<div class="col-md-4">
									<!-- Inward Date -->
									<div class="form-group">
										<label for="applicationno">Application No</label>
										<input asp-for="applicationno" type="text" class="form-control">
										<span asp-validation-for="applicationno" class="text-danger"></span>

									</div>
								</div>
								<div class="col-md-4">
									<!-- Inward Date -->
									<div class="form-group">
										<label for="enrollmentno">Enrollment No</label>
										<input asp-for="enrolmentno" type="text" class="form-control">
										<span asp-validation-for="enrolmentno" class="text-danger"></span>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center mt-3">
				<button type="button" id="btnSave" class="btn btn-primary mr-1" onclick="validateacademicyear();">
					<i class="fas fa-save mr-1"></i>
					Save
				</button>
				<a href="@Url.Action("ViewStudents", "Inward")" class="btn btn-secondary">
					<i class="fas fa-list mr-1"></i>
					Go to List
				</a>
				@* <button type="button" id="btnUploadExcel" onclick="AddStudents()" class="btn btn-success">
					<i class="fas fa-upload mr-1"></i>
					Upload Excel
				</button> *@
			</div>
		</form>

		<form asp-action="Upload" asp-controller="Student" method="post" id="AddStudents" enctype="multipart/form-data">
			@* <div class="form-group">
				<label for="file">Choose Excel File</label>
				<input type="file" name="file" class="form-control" />
			</div> *@
			<input type="hidden" asp-for="FinancialYearId" />
			<div class="form-group">
				<label for="file">Choose Excel File</label>
				<input type="file" name="file" class="form-control" accept=".xls,.xlsx" required />
				<span class="text-danger">@Html.ValidationMessage("file")</span>
			</div>


			<div style="margin-top: 20px;">
				<button id="showDataBtn" class="btn btn-primary mr-1" >Show Data</button>
				<a href="@Url.Action("ViewStudents", "Inward")" class="btn btn-secondary" style="margin-right: 824px;">
					<i class="fas fa-list mr-1"></i>
					Go to List
				</a>
				<a asp-controller="Student" asp-action="DownloadExcel" class="btn btn-primary">Download Excel Demo</a>
			</div>
			
			<div style="margin-top: 20px;"></div>

			<div id="showdatadiv">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">List of Students</h3>
										</div>
										<div class="card-body">
											<table id="InwardList" class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Sr.</th>
														<th>Name</th>
														<th>Mobile No</th>
														<th>Email</th>
														<th>Category</th>
														<th>Gender</th>
														<th>Application No</th>
														<th>Enrollment No</th>
													</tr>
												</thead>
												<tbody>
													<!-- Dynamic table rows will be inserted here via JavaScript -->
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						@* <div class="text-center mt-3">
						<a href="@Url.Action("Index", "Inward")" class="btn btn-secondary">
							<i class="fas fa-list mr-1"></i>
							Go to Form
						</a>
					</div> *@
					</div>
				</div>

				<div style="margin-top: 20px;"></div>
				<button type="button" id="uploadButton" class="btn btn-primary">Save Data</button>
			</div>
		</form>


	</div>
	@* </div> *@
</div>



<!-- Upload Excel Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form asp-action="FileUpload" enctype="multipart/form-data">
			
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="uploadModalLabel">Upload Student Data</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					@* <div class="form-group"> *@
					@*     <label for="excelFile">Choose Excel File</label> *@
					@*     <input asp-for="studentfile" type="file" class="form-control-file" accept=".xlsx, .xls"> *@
					@* </div> *@

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-success" value="Upload  ">
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Make sure jQuery is loaded first -->
<script src="path/to/select2.min.js"></script>

<!-- AdminLTE JS -->
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/adminlte.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/assets/dist/js/sweetalert.js"></script>

<script type="text/javascript">

	// $('#btnSave').click(function (e) {
	// 	// e.preventDefault();
	// 	var yearid = $('#yearid').val();
	// 	if(yearid == null || yearid == "") {
	// 		alert("Please select an academic year.");
	// 		e.preventDefault();
	// 		return;
	// 	}
	// 	else{
	// 		$('#fillDetailsForm').submit();
	// 	}
	// })
	function validateacademicyear() {
			validateacademicyear1();
    var form = $('#fillDetailsForm');

    // Trigger ASP.NET Core's built-in validation
    if (form.valid()) {
        form.submit();
    }
}
	function validateacademicyear1(){
		var yearid = $('#yearid').val();
		if(yearid == null || yearid == "") {
			alert("Please select an academic year.");
			// e.preventDefault();
			// return;
		}
		else{
			$('#fillDetailsForm').submit();
		}
	}


	function bindacademicyear(){
		var yearid = $('#yearid').val();
		$('#FinancialYearId').val(yearid);
	}
	$(document).ready(function () {
		debugger;
		var msg = '@msg';
		if (msg != null && msg != '') {
			ShowDynamicSwalAlert("", msg);
		}
		$("#showdatadiv").hide();
		$("#fillDetailsForm").show();
		$("#AddStudents").hide();
		$("input[name='formType']").change(function () {
			if ($("#form1").is(":checked")) {
				$("#fillDetailsForm").show();
				$("#AddStudents").hide();
			} else {
				$("#fillDetailsForm").hide();
				$("#AddStudents").show();
			}
		});

		// Trigger Modal on Upload Excel Button Click
		$('#btnUploadExcel').click(function () {
			$('#uploadModal').modal('show');
		});



				$('#showDataBtn').click(function (e) {
		$("#showdatadiv").show();
		e.preventDefault();

		var fileInput = $('input[type="file"][name="file"]')[0];
	var file = fileInput.files[0];

	// If no file is selected, hide the div and show an error message
	if (!file) {
		$("#showdatadiv").hide();
		alert("Please choose an Excel file before proceeding.");
		return;
	}

		var fileInput = $('input[type="file"][name="file"]')[0];
		var file = fileInput.files[0];

		var formData = new FormData();
		formData.append('file', file);
		debugger;
				$.ajax({
			url: '@Url.Action("show", "Student")',
			type: 'POST',
			data: formData,
			contentType: false,
			processData: false,
			success: function (response) {
				// Clear the table first
				$('#InwardList tbody').empty();

				if (response.success === false) {
					// Hide table headers if there are duplicates
					$('#InwardList thead').hide();
					$('#uploadButton').hide();

					 if (response.message) {
					let errorRow = `<tr>
										<td colspan="8" class="text-center text-danger"><strong>${response.message}</strong></td>
									</tr>`;
					$('#InwardList tbody').append(errorRow);
				}
					// Display duplicates inside the table
					if (response.duplicates) {
						let row = `<tr>
									<td colspan="8" class="text-center text-danger"><strong>Duplicate Data Found:</strong></td>
								   </tr>`;
						$('#InwardList tbody').append(row);

						// Show duplicate Emails
						if (response.duplicates.emails.length > 0) {
							let emailRow = `<tr>
											 <td colspan="8" class="text-center text-warning">Duplicate Emails: ${response.duplicates.emails.join(', ')}</td>
											</tr>`;
							$('#InwardList tbody').append(emailRow);
						}

						// Show duplicate Application Numbers
						if (response.duplicates.applicationnos.length > 0) {
							let appNoRow = `<tr>
											 <td colspan="8" class="text-center text-warning">Duplicate Application Numbers: ${response.duplicates.applicationnos.join(', ')}</td>
											</tr>`;
							$('#InwardList tbody').append(appNoRow);
						}

						// Show duplicate Enrolment Numbers
						if (response.duplicates.enrolmentnos.length > 0) {
							let enrolmentNoRow = `<tr>
												 <td colspan="8" class="text-center text-warning">Duplicate Enrolment Numbers: ${response.duplicates.enrolmentnos.join(', ')}</td>
												</tr>`;
							$('#InwardList tbody').append(enrolmentNoRow);
						}
					}

					// Display gender and category validation errors
					if (response.errors) {
						if (response.errors.genderErrors.length > 0) {
							let genderErrorRow = `<tr>
													<td colspan="8" class="text-center text-danger">Invalid Gender: ${response.errors.genderErrors.join(', ')}</td>
												   </tr>`;
							$('#InwardList tbody').append(genderErrorRow);
						}

						if (response.errors.categoryErrors.length > 0) {
							let categoryErrorRow = `<tr>
													  <td colspan="8" class="text-center text-danger">Invalid Category: ${response.errors.categoryErrors.join(', ')}</td>
													 </tr>`;
							$('#InwardList tbody').append(categoryErrorRow);
						}
					}

					// Display missing field errors
					if (response.errors && response.errors.missingFields.length > 0) {
						let missingFieldRow = `<tr>
												 <td colspan="8" class="text-center text-danger">Missing Fields: ${response.errors.missingFields.join(', ')}</td>
												</tr>`;
						$('#InwardList tbody').append(missingFieldRow);
			}
				} else {
					// Show table headers and insert valid student data into the table
					$('#InwardList thead').show();
					$('#uploadButton').show();
					response.students.forEach(function (student, index) {
						var row = `<tr>
									<td>${index + 1}</td>
									<td>${student.name}</td>
									<td>${student.mobileno}</td>
									<td>${student.email}</td>
									<td>${student.categoryname}</td>
									<td>${student.gendername}</td>
									<td>${student.applicationno}</td>
									<td>${student.enrolmentno}</td>
								   </tr>`;
						$('#InwardList tbody').append(row);
					});
				}
			},
			error: function () {
				alert('Error uploading file.');
			}
		});

	});

		$('#uploadButton').click(function (e) {
		e.preventDefault();
		
		var studentData = [];
		$('#InwardList tbody tr').each(function () {
			var row = $(this);
			var student = {
				name: row.find('td:eq(1)').text(),
				mobileno: row.find('td:eq(2)').text(),
				email: row.find('td:eq(3)').text(),
				categoryname: row.find('td:eq(4)').text(),
				gendername: row.find('td:eq(5)').text(),
				applicationno: row.find('td:eq(6)').text(),
				enrolmentno: row.find('td:eq(7)').text(),
			};
			studentData.push(student);
		});
		var yearid = $('#yearid').val();
		if(yearid == null || yearid == "") {
			alert("Please select an academic year.");
			return;
		}
		// Send the student data to the server for saving
		$.ajax({
			url: '@Url.Action("SaveStudents", "Student")',  // You will need to create this action in your controller
			type: 'POST',
			data: { students: studentData, yearid:yearid},
			success: function (response) {
				if (response.success) {
					alert('Students saved successfully!');
					
				window.location.href = '@Url.Action("ViewStudents", "Inward")';
				} else {
					alert('Error saving students.');
				}
			},
			error: function () {
				alert('Error saving students.');
			}
		});
	});

	});

</script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
